body {
  margin: 0;
}

* {
  height: 100px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

*:hover {
  height: 200px;
}

#header {
  background-color: blue;
}

.important {
  background-color: red;
}

.interesting {
  background-color: green;
}

.surprising {
  background-color: orange;
}

#footer {
  background-color: black;
}
